.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 100%;
}

.products {
	display: grid;
	text-align: center;
	padding: 30px;
}

#checkout {
	margin: 19px;
	display: grid;
	grid-template-columns: 1fr;
}
